################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI_PovX/v16
/bin/Debug
/obj/Debug
/packages
/bin/Release
/obj/Release
